/*Some necessary adjustments*/
h1, body, html, main {
  margin: 0;
}
/*Import the font and set the default size*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}

section {
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 2rem;
  grid-template-rows: 100px 500px;
  /* justify-items: end; */
  place-content: center flex-end;

}

div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.internal-grid{
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  justify-items: center;
  align-items: center
}

.cover-text {
  font-size: 2.5em;
  position: absolute;
  position: center;
  align-items: center;
  color: #fff;

}

.soup-img {
  width: 100%;
  height: 600px;
  background-image: url('../../french-soup/images/soup.jpg');
  background-position: center center ;
  background-repeat: no-repeat;
  background-size: cover;
}

.png-img {
  width: 100%;
  height: 100%;
  background-image: url('../images/cooking-info.png');
  background-position: center center ;
  background-repeat: no-repeat;
  background-size: cover;
}