* {
    margin: 0;
}

header img {
    height: 600px;
    width: 100%;
    position: relative;
    object-fit: cover;
    background-size: cover;
    background-position: center center;
}

h1 {
    position: absolute;
    
    color: #fff;
    top: 30%;
    right: 40%;
    font-size: 5em;
    font-family: 'Roboto', sans-serif;

}

.first-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px;
}

.first-content p {
    color: darkgray;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.first-content div {
    margin: 20px;
    display: flex;
    align-items: center;
    width: 800px;
    justify-content: center;
}

.second-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px;
}

.second-content div {
    margin: 20px;
    display: flex;
    align-items: center;
    width: 800px;
    justify-content: center;
}

.first-content img {
    margin: 10px;
    height: 50px;
    width: 400px;
    object-fit: cover;
    background-position: center center;

}

.second-content img {
    height: 50px;
    width: 400px;
    object-fit: cover;
    background-position: center center;
}

.second-content p {
    color: darkgray;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
    letter-spacing: 1px;
    
}

.recipe {
    flex-direction: column;
}

h2{
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
} 