* {
    margin: 0;
}

header img {
    height: 500px;
    width: 100%;
    position: relative;
    object-fit: cover;
}

h1 {
    position: absolute;
    font-weight: bold;
    color: #fff;
    top: 20%;
    right: 50%;
    font-weight: 300px;
    font-family: 'Roboto', sans-serif;

}

.first-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px;
}

.first-content p {
    color: darkgray;
}

.first-content div {
    display: flex;
    align-items: center;
    width: 600px;
    justify-content: center;
}

.second-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px;
}

.second-content div {
    display: flex;
    align-items: center;
    width: 600px;
    justify-content: center;
}

.first-content img {
    margin: 10px;
    height: 50px;
    width: 400px;
    object-fit: cover;

}

.second-content img {
    height: 50px;
    width: 400px;
    object-fit: cover;
}

.second-content p {
    color: darkgray;
}

.recipe {
    flex-direction: column;
}